@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brandcolor: 141, 36, 224; /* #8D24E0 */
  --back-ground-basic: 248, 248, 248; /* #F8F8F8 */
  --back-ground-basic2: 242, 242, 242; /* #F2F2F2 */
  --gray1: 235, 235, 235; /* #EBEBEB */
  --gray2: 224, 224, 224; /* #E0E0E0 */
  --gray3: 209, 209, 209; /* #D1D1D1 */
  --dark-gray-basic: 56, 56, 56; /* #383838 */
  --dark-gray1: 41, 41, 41; /* #292929 */
  --dark-gray2: 21, 21, 21; /* #151515 */
  --mid-gray1: 77, 77, 77; /* #4D4D4D */
  --mid-gray2: 91, 91, 91; /* #5B5B5B */
  --icon: 99, 99, 99; /* #636363 */
}

* {
  font-family: 'Pretendard Variable', 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  -ms-overflow-style: none; /* IE and 엣지 */
  scrollbar-width: none; /* 파이어폭스 */
}

*::-webkit-scrollbar {
  display: none;
}

.title {
  color: #111111;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.2;
}

.subtitle {
  color: #333333;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.4;
}

.section-title {
  color: #333333;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.4;
}

.brand {
  color: #5b5b5b;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.1;
}

.brand2 {
  color: #5b5b5b;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.1;
}

.description-basic {
  color: #000000;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
}

.description-bold {
  color: #000000;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.1;
}

.description-thin {
  color: #000000;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.2;
}

.emphasize-middle {
  color: #5b5b5b;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.1;
}

.hashtag {
  color: #5b5b5b;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.6;
}

.paragraph {
  color: #666666;
  font-weight: 900;
  font-size: 0.625rem;
  line-height: 2;
}

.rating {
  color: #5b5b5b;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1;
}

.receipt {
  color: #000000;
  font-weight: 300;
  font-size: 0.6875rem;
  line-height: 1.6;
}

.small-title-regular {
  color: #5b5b5b;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.1;
}

.smaller-medium {
  color: #000000;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.1;
}

.smaller-regular {
  color: #000000;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1;
}

.title-bold {
  color: #000000;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1;
}

.title-bold2 {
  color: #000000;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.1;
}

@media (min-width: 810px) {
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1.1875rem;
  }
  .section-title {
    font-size: 0.875rem;
  }
  .brand {
    font-size: 0.875rem;
  }
  .brand2 {
    font-size: 0.875rem;
  }
  .description-thin {
    line-height: 1.6;
  }
  .emphasize-middle {
    font-size: 1rem;
  }
  .hashtag {
    font-size: 0.875rem;
  }
  .paragraph {
    font-size: 0.8125rem;
  }
  .small-title-regular {
    font-size: 0.875rem;
  }
  .smaller-regular {
    font-size: 1rem;
  }
  .title-bold2 {
    font-size: 1.625rem;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .section-title {
    font-size: 1.125rem;
  }
  .brand {
    font-size: 1.125rem;
  }
  .brand2 {
    font-size: 1.125rem;
  }
  .description-basic {
    font-size: 1rem;
  }
  .description-bold {
    font-size: 1rem;
  }
  .description-thin {
    font-size: 1rem;
  }
  .emphasize-middle {
    font-size: 1.25rem;
  }
  .paragraph {
    font-size: 1rem;
  }
  .rating {
    font-size: 1.5rem;
  }
  .receipt {
    font-size: 0.75rem;
  }
  .small-title-regular {
    font-size: 1.125rem;
  }
  .smaller-medium {
    font-size: 1rem;
  }
  .title-bold {
    font-size: 2rem;
  }
  .title-bold2 {
    font-size: 1.75rem;
  }
}

.percenti {
  width: var(--width);
}
